#player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 5)
}

#player .js-video-container {
  width: 100%;
  height: 100%;
}

#player .js-play-button,
#player .js-pause-button {
  background-color: transparent;
  border-style: none;
  color: white;
  cursor: pointer;
}

#player div {
  background-color: black;
}

