.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 5px 5px 8px 5px;
  border-color: silver;
  display: flex;
  flex-direction: column;
}

#player .video-container-style {
  flex-grow: 1;
}

#player .button-style {
  background-color: transparent;
  border-style: none;
  color: white;
  cursor: pointer;
  width: 35px;
  height: 41px;
  font-size: 20px;
  margin-right: 2px;
}

#player .control-buttons {
  display: flex;
  background-color: black;
}

#player .time-style {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;

}

#player .progress-style {
    background-color: black;
    height: 20px;
    margin-left: 11px;
    margin-right: 12px;
    flex-grow: 1;
    display: flex;
}

#player .slider-style {
    background-color: #f8104d;
    height: 5px;
    margin-top: 8px;
    border-radius: 10px;
}

#player .dot {
  height: 8px;
  width: 8px;
  background-color: #f8104d;
  border-style: solid;
  border-radius: 50%;
  border-color: white;
  box-shadow: -2px 0px 7px rgba(0,0,0,0.8);
  margin-top: 3px;
  margin-left: -7px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

#player .progress-style:hover .dot {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

#player .control-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}



