#player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
}

#player .js-video-container {
  flex-grow: 1;
}

#player .js-play-button,
#player .js-pause-button,
#player .js-volume-button,
#player .js-mute-button {
  background-color: transparent;
  border-style: none;
  color: white;
  cursor: pointer;
}

#player div {
  background-color: black;
}

